# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

/public/meta.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
src/styles/app.css

# Private keys
localazy.json
.env