#movelist {
	overflow-y: auto;
}

#movelist-controller {
	background: var(--white-5o);
}

#movelist-controller button:not([disabled]):hover {
	background-color: var(--green-600);
}

#movelist-controller button[disabled] {
	color: var(--gray-600);
}

#movelist-controller button > svg {
	position: relative;
	top: 2px;
}

#movelist-tabs .ant-tabs-nav-list {
	width: 100%;
	border-bottom: 1px solid #303030;
	border-top: 1px solid #303030;
}

#movelist-tabs.solo .ant-tabs-nav-list {
	display: none;
}

#movelist-tabs .ant-tabs-nav-list > .ant-tabs-tab {
	width: 50%;
	border: 0;
	text-align: center;
	background: var(--gray-800);
}

#movelist-tabs .ant-tabs-nav-list > .ant-tabs-tab:not(.ant-tabs-tab-active):hover {
	background: var(--gray-700);
}

#movelist-tabs .ant-tabs-nav-list > .ant-tabs-tab-active {
	background: var(--black-15o);
	border-bottom: 0;
}